#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  /* text-align: center; */
}

.input-div-con {
  display: flex;
  gap: 13rem;
  margin-bottom: 4rem;
}
.input-div input {
  padding: 0.7rem;
}
.input-div button {
  margin-top: 1rem;
}
.get-fullInfo-btn {
  text-align: center;
}
.full-info {
  display: flex;
  justify-content: space-between;
}
.full-info p {
  display: flex;
  align-items: self-start;
  font-size: 1.1rem;
  text-align: center;
}
